/* Reset e Variáveis */

* {
    margin: 0;
    padding: 0;

}

:root {
    --font-familly: 'Montserrat', sans-serif;
    --font-color: rgb(242, 243, 244);

    --spotify-color: #1db954;
    --youtube-color: #ff0000;
    --instagram-color: #c13584;
    --twitch-color: #9146ff; 
}

/* Estilização Geral */

body {
    background-image: url(https://rodwendrel.github.io/link-tree/img/background.png);
    background-position: center;
    font-family: var(--font-familly);
    color: var(--font-color);

}

a {
    text-decoration: none;
    color: var(--font-color);

}

ul {
    list-style: none;
}

h1 {
    font-weight: 300;
}

/* Estilização dos elementos da página */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    margin: 0 auto;

    gap: 2.5rem;
}

.container img { 
    border-radius: 50%;

}

.frame-spotify {
    width: 85%;
}


.container-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    

}
.container-links ul li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    border-radius: 25px;
    width: 50vw;
    height: 3rem;
}

.container-links ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.divider {
    height: 1px;
    width: 30vw;
    background: linear-gradient(270deg, rgb(195, 20, 50) -3.55%, rgb(80, 30, 116) 100.21%);

}

footer {
    font-size: .6rem;
}

footer a:hover{
    font-weight: bold;
}

/* Estilização de Cada Link da lista */

.spotify  {
    border: 1px solid var(--spotify-color);
}

.icon-spotify {
    color: var(--spotify-color);
}

.youtube  {
    border: 1px solid var(--youtube-color);
}

.icon-youtube {
    color: var(--youtube-color);
}

.instagram {
    border: 1px solid var(--instagram-color);
}

.icon-instagram {
    color: var(--instagram-color);
}

.twitch {
    border: 1px solid var(--twitch-color);
}

.icon-twitch {
    color: var(--twitch-color);
}


/* Aplicação de Responsividade */

@media(min-width: 1024px) {

    .frame-spotify {
        width: 85%;
    }

    .container-links ul li {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    
        border-radius: 25px;
        width: 50vw;
        height: 3rem;
    }

    .container-links ul li:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .divider {
        height: 1px;
        width: 28vw;
        background: linear-gradient(270deg, rgb(195, 20, 50) -3.55%, rgb(80, 30, 116) 100.21%);
    
    }
    
}

@media(min-width: 1920px) {

    .frame-spotify {
        width: 35%;
    }

    .container-links ul li {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    
        border-radius: 25px;
        width: 25vw;
        height: 3rem;
    }

    .container-links ul li:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .divider {
        height: 1px;
        width: 15vw;
        background: linear-gradient(270deg, rgb(195, 20, 50) -3.55%, rgb(80, 30, 116) 100.21%);
    
    }
    
}